<h1>Ejercicio 3 POO-Areas</h1>
<h4>Crear la clase Areas con métodos para calcular el área de un circulo y el área de un
    rectángulo. Desde una clase principal realizar ambos cálculos y mostrarlos por pantalla.</h4>
<p>Número PI = 3.14</p>
<p>
    <label for="radio">Introduce el radio:  </label>
    <input type="number" [(ngModel)]="radio"/>
</p>
<p>
    <label for="base">Introduce la base:  </label>
    <input type="number" [(ngModel)]="base"/>
</p>
<p>
    <label for="altura">Introduce la altura:  </label>
    <input type="number" [(ngModel)]="altura"/>
</p>
<button (click)="mostrarResultado()">Mostrar resultado</button>
<p>RESULTADO POR CONSOLA</p>

