<h1>Ejercicio 4 POO-Campos</h1>
<h4>Realizar una clase llamada Campos con dos métodos uno muestra y el otro incrementa.
    El método muestra, es una función que da como resultado el valor de x, El método
    incrementa: incrementa el valor de X.,en el constructor se da Campel valor inicial al
    campo X.,Crear una instancia en el módulo principal de la aplicación, incrementar y
    mostrar el resultado.</h4>
<p>
    <label for="num1">Introduce el primer número:  </label>
    <input type="number" [(ngModel)]="numero1"/>
</p>
<p>
    <label for="num2">Introduce el segundo número:  </label>
    <input type="number" [(ngModel)]="numero2"/>
</p>
<button (click)="mostrarResultado()">Mostrar resultado</button>
<p>RESULTADO POR CONSOLA</p>
